// custom scss themes
// base document colors 
// $hero-banner: rgba(228, 228, 228, 1);


/*-- scss:defaults --*/
$body-bg: rgba(187, 187, 187, 1);
$link-color: rgba(103, 160, 79, 1);
$body-color: rgba(92, 85, 82, 1);


/* color theme */
/* CSS HEX */
/* --platinum: #e4e4e4ff;
--silver: #bbbbbbff;
--asparagus: #67a04fff;
--walnut-brown: #5c5552ff;
--van-dyke: #433633ff; */